.search-container{
    width:100%;
    max-width:700px;
    margin:40px auto;
    display:flex;
    align-items:center;
    gap:15px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:60px;
    padding:12px 18px;
}

.search-container input{
    flex:1;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:16px;
}

.search-container input::placeholder{
    color:#bdbdbd;
}

.search-btn{
    width:50px;
    height:50px;
    background:#fff2a8;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:0.3s;
}

.search-btn:hover{
    transform:scale(1.08);
    box-shadow:0 10px 20px rgba(255,242,168,0.25);
}

.search-icon{
    font-size:22px;
    color:black;
}

@media(max-width:768px){

    .search-container{
        max-width:90%;
        padding:10px 15px;
    }

    .search-btn{
        width:45px;
        height:45px;
    }

}

@media(max-width:480px){

    .search-container input{
        font-size:14px;
    }

    .search-btn{
        width:42px;
        height:42px;
    }

    .search-icon{
        font-size:18px;
    }

}